*{
background: #ffff00;
margin: 0;
padding: 0;
list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    height: 150px;
    background: red;
    
}
header ol{
    display: flex;
}

header a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    
}

p {
    color: blue;
    font-family: initial;
    font-weight: 900;
}

h1,
h2{
    color: blue;
}

